.ShelveItem {
  &-card {
    max-width: 250px;
    flex: 1 0 80%;
    margin: 15px 10px;
    text-align: center;

    & a {
      all: unset;
    }
  }
  &-media {
    height: 150px;
  }

  &-content {
    min-height: 70px;
  }
}